/HolaMundo/target/
/practica1/target/
/Practica1-Interceptor/target/

.netbeans_automatic_build
nb-configuration.xml
*.jar
*.class
*.war
*~
/practica1-Interceptor/target/
/Practica1Interceptor/nbproject/private/
/Practica01Inteceptor/nbproject/private/
/Practica01/target/
/Practica01Inteceptor/dist/
/Practica01Inteceptor/build/
/jpa.simple/nbproject/private/
/jpa.simple/build